{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
  {% for article in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ article.title }}</span> &middot;
        <!--<span class="text-muted">by {{ article.author }} | {{ article.date }}</span>-->

        {% if article.image %}
       <img src="{{article.image.url }}" height="500px" width="auto">

        {% endif %}   

           
        {% if article.video %}  
              <br><br>
              <video width='700' controls>
                <source src='{{ article.video.url }}{{ video}}' type='video/mp4'>  
              </video>
              <br><br> 
        {% endif %}  

      </div>
      <div class="card-body">
        <p>{{ article.body }}</p>
        <a href="{% url 'article_edit' article.pk %}">Edit</a> |
        <a href="{% url 'article_delete' article.pk %}">Delete</a>|
       
      </div>
    
      <div class="card-footer">       
            <a href="{% url 'post_new' %}">Submit CV</a>
      </div>



      <!-- <div class="card-footer">
        {% for comment in article.comments.all %}
          <p>
           
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
          </p>
        {% endfor %}
      </div> -->


    </div>
    <br />
  {% endfor %}
{% endblock content %}