{% extends 'base.html' %}

{% block content %}
  {% for article in object_list %}


  <div class="post-entry">
    <h2>{{ artcle.title }}</h2>
    <p>{{ artcle.body }}</p>
  </div>


  {% endfor %}
{% endblock content %}